.personalcenter_setting_changeemail{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.personalcenter_setting_changeemail>div:nth-child(1){
    width: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personalcenter_setting_changeemail>div:nth-child(1)>p{
    font-size: 12px;
    color:#ccc;
    width:320px;
}
.personalcenter_setting_changeemail>div:nth-child(1)>div{
    width: 320px;
}
.personalcenter_setting_changeemail>div:nth-child(1)>div>div{
    width:120px;
    height: 35px;
    color:white;
    border-radius: 15px;
    line-height: 35px;
    text-align: center;
    background-color: rgb(2,43,99);
    margin-top: 20px;
    margin-bottom: 10px;
}

.personalcenter_setting_changeemail>div:nth-child(1)>p:nth-child(1){
    width:320px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    color:black;
    position: relative;
}
.personalcenter_setting_changeemail>div:nth-child(1)>input{
    width: 320px;
    height: 20px;
    margin-bottom: 20px;
}
.personalcenter_setting_changeemail>div:nth-child(2){
    width: 40%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personalcenter_setting_changeemail>div:nth-child(2)>img{
    height: 240px;
}
.password_eye{
    width:18px;
    position: absolute;
    top:43px;
    left:300px;
}