.createHeaderBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5vh;
    width: 100%;
    background-color:#f8f9fb;
    z-index: 2;
}
.createHeaderBox div{
    width: 140px;
}
.create_logo{
    position: absolute;
    width: 40px;
    left: 100px;
}
.createHeaderNavItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}
.createHeaderNavItem img{
    width: 24px;
    margin-bottom: 3px;
}
.userData{
    position: absolute;
    right: 0px;
    display: flex;
    /* flex-direction: row; */
    justify-content:center;
}
.userData img{
    width: 35px;
    height: 35px;
    border-radius: 20px;
}
.userData .help{
    width:40px;
}
.userData .help img{
    width:37px;
}