* {
    padding: 0;
    margin: 0;
}

.home_header {
    height: 45px;
    /*width: 100%;*/
    padding-left: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 1px 1px 1px #ccc;
}

.home_logo {
    width: 30px;
    height: 30px;
    margin-top: 11px;
    margin-right: 10px;
}

.home_nav_logo {
    display: inline-block;
    width: 100px;
    height: 45px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(2, 43, 99);
    margin-top: 9px;
}

/* 导航栏每一�?*/
.home_nav_item {
    width: 100px;
    height: 40px;
    margin-left: 16px;
    position: relative;
}

.home_nav_item span {
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    position: absolute;
    top: 7px;
}

/* 导航栏每一项的活跃状�?*/

.home_head_active {
    width: 100px;
    height: 40px;
    margin-left: 16px;
    position: relative;
}

.home_head_active span {
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(2, 43, 99);
    transform: scale(1.1);
    position: absolute;
    top: 7px;
}