.personalcenter_design_box{
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.personalcenter_design_box>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.personalcenter_design_box>div>div{
    width:30%;
    height: 280px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #ccc;
    margin:15px auto;
}

.personalcenter_design_box>div:nth-child(1){
    /* border-bottom: 1px solid #ccc; */
    margin-bottom: 60px;
    background-color: #f7f7f7;
    padding-bottom: 20px;
}
.personalcenter_design_box>div:nth-child(2){
    margin-bottom: 60px;
    background-color: #f7f7f7;
}

.personalcenter_design_top_item{
    position: relative;
}
.personalcenter_design_top_item>div:nth-child(1){
    width:100%;
    height: 100%;
}
.personalcenter_design_img{
    height:150%;
    width: 100%;
    object-fit: cover;
    transition: height 0.5s;
}
.personalcenter_design_img:hover{
    height:100%;
}
.personalcenter_design_top_item>:nth-child(2){
    width:100px;
    height: 100px;
    transform:rotate(45deg);
    background-color: white;
    position: absolute;
    top:-50px;
    left: -50px;
    overflow: hidden;
}
.personalcenter_design_top_item>:nth-child(2)>img{
    width:30%;
    transform:rotate(-45deg);
    position: absolute;
    right: 0;
    top:40%
}
.personalcenter_design_top_insidebox{
    width:100%;
    height: 75px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
    transition: background-color 0.3s;
    color: white;
}
.personalcenter_design_title{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    line-height: 30px;
}
.personalcenter_design_time{
    width: 100%;
    height: 15px;
    font-size: 10px;
    padding-left: 20px;
}
.personalcenter_design_buttons{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
}
.personalcenter_design_buttons>div{
    width:25%;
    height: 30px;
    line-height: 30px;
}
.personalcenter_design_buttons>div:hover{
    color:rgb(2,43,99);
    font-weight: bold;
}
.personalcenter_design_img:hover .personalcenter_design_top_insidebox{
    background-color: red;
}
.personalcenter_design_under_item{
    position: relative;

}
.personalcenter_design_under_item>div:nth-child(1){
    width:100%;
    height: 100%;
}

.personalcenter_design_under_insidebox{   
    width:100%;
    height: 75px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
    color: white;
}
.personalcenter_design_titles{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
}

.personalcenter_design_box::-webkit-scrollbar {
    width: 5px;
}

.personalcenter_design_box::-webkit-scrollbar-track {
    background-color: #eee;
}

.personalcenter_design_box::-webkit-scrollbar-thumb {
    background:rgb(2,43,99);
    border-radius: 10px;
}
