.personalcenter_design_box{
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.personalcenter_design_box>div{
    width:100%;
    height: 80px;
    border-radius: 10px;
    /* border:1px solid #ccc; */
    box-shadow: 5px 5px 10px 0px #ccc;
    margin:15px auto;
}
.personalcenter_design_top_item{
    background-color: rgb(2,43,99);
    position: relative;
}
.personalcenter_design_under_item{
    background-color: #eee;
    position: relative;
    border-radius: 10px;
}
.personalcenter_design_top_insidebox{
    width:110%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    transition: width 0.8s;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    margin-left: -10%;
    padding-left: 10%;
}
.personalcenter_design_under_insidebox{
    width:110%;
    height: 100%;
    transition: width 0.8s;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    margin-left: -10%;
    padding-left: 10%;
    border-right:1px solid #eee;
    background-color: rgb(252, 250, 250);
}
.personalcenter_design_top_item:hover .personalcenter_design_top_insidebox{
    width: 70%;
}
.personalcenter_design_under_item:hover .personalcenter_design_under_insidebox{
    width: 70%;
}
.personalcenter_design_top_icon{
    height: 20px;
    width: 35px;
    margin: auto 15px;
}
.personalcenter_design_title{
    width: 40%;
    height: 80px;
    line-height: 80px;
    color: rgb(2,43,99);
    font-weight: bold;
    font-size: 20px;
    margin-left: 2%;
}
.personalcenter_design_edit{
    width:50px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 38%;
    right:22%;
    color: white;
}
.personalcenter_design_delete{
    position: absolute;
    width:50px;
    height: 25px;
    top: 38%;
    right:14%;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.personalcenter_design_cancel,
.personalcenter_design_toTop{
    width:70px;
    height: 25px;
    position: absolute;
    top: 38%;
    right:2%;
    font-size: 16px;
    font-weight: bold;  
    color: white;
}
.personalcenter_design_under_item .personalcenter_design_edit{
    color: rgb(2,43,99);
}
.personalcenter_design_under_item .personalcenter_design_delete{
    color: rgb(2,43,99);
}
.personalcenter_design_under_item .personalcenter_design_toTop{
    color: rgb(2,43,99);
}

.personalcenter_design_under_insidebox .personalcenter_design_title{
    margin-left: 2%;
    padding-left: 60px;
}


.personalcenter_design_box::-webkit-scrollbar {
    width: 5px;
}

.personalcenter_design_box::-webkit-scrollbar-track {
    background-color: #eee;
}

.personalcenter_design_box::-webkit-scrollbar-thumb {
    background:rgb(2,43,99);
    border-radius: 10px;
}
