.personalcenter_setting_setpassword{
    display: flex;
    flex-direction: row;
}
.personalcenter_setting_setpassword>div:nth-child(1){
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.personalcenter_setting_setpassword>div:nth-child(1)>p{
    width:240px;
    height: 24px;
    line-height: 24px;
    color:#ccc;
    font-size: 12px;
    position: relative;
}
.personalcenter_setting_setpassword>div:nth-child(1)>p:nth-child(1){
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.personalcenter_setting_setpassword>div:nth-child(1)>input{
    width:240px;
    height: 20px;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:1px solid #666;
}
.personalcenter_setting_setpassword>div:nth-child(1)>div{
    width:120px;
    height: 35px;
    color:white;
    border-radius: 15px;
    line-height: 35px;
    text-align: center;
    background-color: rgb(2,43,99);
    margin-top: 20px;
}
.personalcenter_setting_setpassword>div:nth-child(2){
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.personalcenter_setting_setpassword>div:nth-child(2)>img{
    height: 280px;
}
.new_eye{
    width:16px;
    position: absolute;
    top:-30px;
    left:220px;
}
.confirm_eye{
    width:16px;
    position: absolute;
    top:-30px;
    left:220px;
}