html,body{
    height: 100%;
    margin: 0;
}
.back_user_data {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100vh;
    background-image: url('./images/back_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.manage_data_con {
    width: 1200px;
    height: auto;
    margin-left: 250px;
}

.manager_datas {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.manager_data {
    width: 1200px;
    height: 60px;
    background-color: rgb(240, 247, 254);
    /* box-shadow: 5px 5px 5px #e3ede0; */
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.manager_email {
    width: 200px;
}

.manager_name {
    width: 100px;
}

.manager_phone {
    width: 200px;
}

.manager_op {
    width: 200px;
}

#delMger {
    width: 90px;
    height: 30px;
    background-color: rgb(235, 152, 152);
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
}

#delMger:hover {
    background-color: rgb(255, 40, 40);
    box-shadow: 2px 2px 2px rgb(255, 0, 0);
    color: #fff;
}

#chgMger {
    width: 90px;
    height: 30px;
    margin-left: 10px;
    background-color: rgb(190, 222, 254);
    border: none;
    border-radius: 5px;
}

/* rgb(103, 161, 247) */

#chgMger:hover {
    background-color: rgb(87, 169, 251);
    box-shadow: 2px 2px 2px rgb(170, 239, 255);
    color: #fff;
}

.delM_confirm_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 226, 226, 0.703);
}

.delM_confirm_con {
    width: 400px;
    height: 220px;
    background-color: rgb(255, 67, 67);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(205, 108, 108, 0.584);
    position: fixed;
    top: 30%;
    left: 40%;
}

.delM_confirm_con h3 {
    color: #fff;
    margin-top: 30px;
    margin-left: 40px;
}
.delM_confirm_detail{
    font-size: 15px;
    color: #fff;
    margin-left: 40px;
    margin-top: 10px;
}
.delM_btns {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.delM_btns button {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.delM_btns button:hover {
    background-color: rgb(250, 158, 158);
    border: 2px solid rgb(212, 33, 33);
    color: #fff;
}

/* .delM_btns button:nth-child(2):hover {
    background-color: rgb(178, 255, 163);
    color: #fff;
} */

/* 添加管理员 */
.addAdmin {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(215, 233, 250);
    box-shadow: 2px 2px 2px rgb(194, 224, 254);
    margin-top: 20px;
    margin-left: 40%;
}

.addAdmin img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.addAdmin span {
    line-height: 30px;
    /* margin-top: 30px; */
    position: relative;
    top: -20px;
}

.addAdmin:hover {
    background-color: rgb(194, 224, 254);
    box-shadow: 2px 2px 2px rgb(155, 203, 251);
}

.addAdmin_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(180, 255, 186, 0.5);
}

.addAdmin_con {
    width: 450px;
    height: 280px;
    color: #fff;
    background-color: rgb(70, 188, 76);
    box-shadow: 5px 5px 5px rgb(82, 156, 105);
    padding: 30px;
    padding-top: 20px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
}

.addAdmin_con_input {
    margin: 10px;
    margin-top: 15px;
}
.addAdmin_con_innerinput{
    border-radius: 5px;
    height: 25px;
    width: 230px;
    border: none;
}

.adAdmin_btns {
    position: absolute;
    bottom: 15px;
    right: 20px;
}
.adAdmin_btn{
    margin-left: 8px;
    width: 60px;
    height: 28px;
    border-radius: 5px;
    border: none;
    
}
.adAdmin_btn:hover{
    border: 2px solid green;
    background-color: #e2fcdb;
}
.changeAdmin_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(224, 239, 253, 0.5);
}

.changeAdmin_con {
    width: 450px;
    height: 335px;
    color: #fff;
    background-color: rgb(2, 43, 99);
    box-shadow: 5px 5px 5px rgb(116, 186, 244);
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
}
.changeAdmin_con_input {
    margin: 10px;
    margin-top: 15px;
}
.changeAdmin_con_innerinput{
    border-radius: 5px;
    height: 25px;
    width: 230px;
    border: none;
}
.changeAdmin_btns{
    margin-left: 73%;
}
.changeAdmin_btn{
    width: 100px;
    height: 28px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
.changeAdmin_btn:hover{
    border: 2px solid rgb(43, 108, 248);
    background-color: #cee7fd;
}
/* rgb(26, 138, 43) */