.back_home_leftnav {
  width: 120px;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(116, 167, 255, 0.567);
  position: absolute;
  left: 0px;
  top: 20px;
}

.back_home_leftnav_nav {
  text-decoration: none;
  width: 120px;
  height: 50px;
  font-size: 13px;
  border-radius: 5px;
  padding-left: 35px;
  padding-top: 20px;
}

.back_home_leftnav_nav span {
  color: #fff;
}

.back_home_leftnav_nav:hover {
  text-decoration: none;
  width: 120px;
  height: 50px;
  font-size: 13px;
  border-radius: 5px;
  padding-left: 35px;
  padding-top: 20px;
  background-color: rgba(116, 167, 255, 0.567);
}

/* .back_home_leftnav_nav:hover .back_home_leftnav_nav span {
  color: rgb(203, 45, 45);
} */

/* 路由对应时 */
.back_home_leftnav_active_nav {
  text-decoration: none;
  width: 120px;
  height: 50px;
  font-size: 13px;
  border-radius: 5px;
  padding-left: 35px;
  padding-top: 20px;
  background-color: rgb(188, 224, 255);
}

.back_home_leftnav_active_nav span {
  color: rgb(89, 161, 255);
}


/* 子路由 */
.backuser_nav_navlinks {
  width: 130px;
  height: auto;
  border-radius: 5px;
  background-color: rgb(165, 213, 255);
  display: flex;
  flex-direction: column;
  position: absolute;
  /* left: -150px; */
  background-color: rgb(232, 241, 56);
}

.backuser_nav_navlink {
  text-decoration: none;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-size: 13px;
  padding-top: 10px;
  background-color: rgb(165, 213, 255);
  border: 1px solid rgb(162, 162, 199);
  /* margin-top: 3px;; */
}

.backuser_nav_navlink span {
  width: 130px;
  height: 40px;
  margin-left: 10px;
  color: #555;
  text-align: center;

}

/* 未选中隐藏 */
/* .backuser_nav_navlinks_none {
  display: none;
  position: absolute;
  left: -300px;
} */

/* 悬浮 */
.backuser_nav_navlink:hover {
  background-color: rgb(240, 243, 255);
}