.back_furniture_con {
    width: 1200px;
    height: auto;
    margin-left: 250px;
    /* background-color: rgb(255, 245, 232); */
}
.back_furniture_con h3{
    float: left;
}
.back_f {
    width: 1200px;
    height: 100px;
    background-color: rgb(202, 219, 255);
    border: 1px solid rgb(150, 184, 255);
    box-shadow: 3px 3px 3px rgb(168, 200, 255);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.back_add_fbtn{
    /* float: left; */
    width: 100px;
    height: 40px;
    background-color: rgb(202, 219, 255);
    border-radius: 30px;
    line-height: 40px;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-left: 90%;
    margin-top: 10px;
}

.back_add_fbtn:hover{
    background-color: rgb(150, 184, 255);
    color: #fff;
}

.back_f div{
    line-height: 100px;
    font-size: 14px;
}

.back_f_del {
    width: 60px;
    height: 30px;
    background-color: rgb(255, 127, 127);
    border: 1px solid red;
    border-radius: 20px;
    margin-top: 40px;
}

.back_f_del:hover {
    background-color: rgb(239, 34, 34);
    border: 1px solid red;
    color: #fff;
}

/* 删除家具确认框 */
.del_fur_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 142, 142, 0.507);
}

.del_fur_confirm {
    width: 400px;
    height: 270px;
    background-color: rgb(140, 56, 56);
    color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20%;
    left: 40%;
}

.del_text {
   margin-top: 20px;
   margin-left:50px;
}

.del_fur_confirm img {
    width: 180px;
    height: 160px;
    display: block;
    margin-left: 60px;
    margin-top: 10px;
}
.del_fur_btns{
    position: absolute;
    bottom: 20px;
    right:20px;
}
.del_fur_btns button{
    width: auto;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    background-color: #fff;
}
.del_fur_btns button:nth-child(1):hover{
    background-color: rgb(204, 30, 30);
    color: #fff;
    box-shadow: 2px 2px 2px rgb(205, 34, 34);
}

.del_fur_btns button:nth-child(2):hover{
    background-color: rgb(71, 204, 30);
    color: #fff;
    box-shadow: 2px 2px 2px rgb(90, 230, 109);
}
.add_fur_mask{
    width: 100%;
    height: 100%;
    background-color: rgba(168, 194, 252, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}
.add_fur_box{
    width: 500px;
    height: 300px;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgb(156, 155, 155);
    position: fixed;
    top:20%;
    left: 37%;
}
.add_fur_form{
    margin-left: 30px;
    margin-top: 20px;
}
.add_fur_title{
    font-size: 13px;
    font-weight: 600;
    margin-top: 15px;
}
.add_fur_input_title{
    width: 300px;
    height: 23px;
    margin-top: 10px;
}
.add_fur_choose{
    margin-top: 10px;
    
}
.add_fur_btns{
    margin-left: 58%;
    margin-top: 17%;
}
.sub_btn{
    width: 80px;
    height: 30px;
    background-color:rgb(202, 219, 255) ;
    border: 2px solid rgb(182, 205, 255);
    margin-left: 10px;
    border-radius: 10px;
}
.sub_btn:hover{
    background-color: rgb(150, 184, 255);
    color: #fff;
}