
.cover_nav {
    width: 100%;
    height: 45px;
    background-color: #1F1663;
    position: relative;
    
}

.cover_nav_txt1 {
    font-size: 16px;
    color: white;
    height: 25px;
    line-height: 45px;
    /* float: left; */
    position: absolute;
    top: 0;
    left: 100px;
}

.cover_nav_txt2 {
    font-size: 16px;
    color: white;
    height: 25px;
    line-height: 45px;
    position: absolute;
    top: 0;
    right: 200px;

}

.cover_nav_line {
    color: white;
    line-height: 45px;
    margin-left: 25px;
    position: absolute;
    top: 0;
    right: 180px;
}

.cover_nav_txt3 {
    font-size: 16px;
    color: white;
    height: 25px;
    line-height: 45px;
    position: absolute;
    top: 0;
    right: 100px;
}

.cover_video {
    width: 100%;
    height: 500px;
}

.cover_img {
    width: 100%;
    position: relative;
}

.cover_react-player {
    overflow: hidden;
    width: 100%;
    height: 676px;
    position: absolute;
    top: 0;
    left: 0;
}

.cover_img_player {
    position: absolute;
    top: -32px;
    left: 0;
}

.cover_img_surface {
    background-color: rgba(54, 69, 134, 0.5);
    width: 100%;
    height: 676px;
    position: absolute;
    top: 0;
    left: 0;
}

.cover_img_txt1 {
    font-size: 70px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 170px;
    left: 170px;
}

.cover_img_txt2 {
    position: absolute;
    top: 320px;
    left: 330px;
}

.cover_img_txt2_item {
    font-size: 32px;
    color: white;
    margin-right: 30px;
    float: left;
}

.cover_img_btn {
    width: 250px;
    height: 75px;
    font-size: 25px;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgb(211, 211, 211);
    border: none;
    outline: none;
    background-color: #448CEF;
    position: absolute;
    top: 430px;
    left: 370px;
}

.cover_img_btn:hover {
    box-shadow: 0 0 5px #448CEF,
              0 0 25px #448CEF,
              0 0 50px #448CEF,
              0 0 100px #448CEF;
    /* box-shadow: 0 0 5px rgb(2,43,99),
        0 0 25px rgb(2,43,99),
        0 0 50px rgb(2,43,99),
        0 0 100px rgb(2,43,99); */
}
.cover_intro{
    width: 100%;
    height: 400px;
    position: relative;
    top:700px
}
.cover_intro_txt1{
    width: 425px;
    margin: 0 auto;
    margin-top: 35px;
    font-size: 60px;
    color: #4463C8;
    font-weight: 600;
}
.cover_intro_item1{
    position: absolute;
    top:140px;
    left: -600px;
}
.cover_intro_img1{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
}
.cover_intro_item1_txt{
    margin-left: 25px;
    margin-top: 25px;
    float: left;
}
.cover_intro_item1_txt1{
    font-size: 30px;
    color: #212C73;
    /* text-shadow: 1px 1px 3px rgb(116, 116, 116); */
    font-weight: 600;
    margin-bottom: 15px;
}
.cover_intro_item1_txt2{
    width: 280px;
    font-size: 16px;
    line-height: 30px;
}
.cover_intro_item2{
    position:absolute;
    top:140px;
    right: -600px;
}
.cover_intro_item2_txt{
    margin-right: 25px;
    margin-top: 25px;
    float: left;
}
.cover_intro_item2_txt1{
    font-size: 30px;
    color: #212C73;
    /* text-shadow: 1px 1px 3px rgb(116, 116, 116); */
    font-weight: 600;
    margin-bottom: 15px;
}
.cover_intro_item2_txt2{
    width: 280px;
    font-size: 16px;
    line-height: 30px;
}
.cover_intro_img2{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
}
.cover_intro_item3{
    position: absolute;
    top:400px;
    left: 200px;
}
.cover_intro_item4{
    position:absolute;
    top:400px;
    right: 200px;
}
.cover_none{
    margin-bottom: 1000px;
}
.cover_declare{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    position: relative;
    width: 100%;
    height: 200px;
    background-color:rgb(207,232,252);
    top:1050px;
    /* box-shadow: -1px -1px 10px rgb(90, 140, 240); */
    
}
.cover_declare_item1{
   margin-left: 400px;
   width: 200px;
}
.cover_declare_item1 div{
    font-size: 20px;
    margin-top: 20px;
}
.cover_declare_item1 li{
    list-style: none;
    font-size: 14px;
    color: #484848;
    margin-top: 10px;
}
.cover_declare_item2{
    margin-left: 200px;
    margin-right: 200px;
    width: 120px;
 }
 .cover_declare_item2 div{
     font-size: 20px;
     margin-top: 20px;
 }
 
 .cover_declare_item2 li{
    list-style: none;
    font-size: 14px;
    color: #484848;
    margin-top: 10px;
 }
 .cover_declare_item3{
    margin-right: 400px;
    width: 300px;
 }
 .cover_declare_item3 div{
    font-size: 20px;
    margin-top: 20px;
}

.cover_declare_item3 li{
   list-style: none;
   font-size: 14px;
   color: #484848;
   margin-top: 10px;
}
.cover_serve{
    position: fixed;
    top:300px;
    right: 50px;
}
.cover_serve_item{
    height: 75px;
    width: 75px;
    background-color: #4FACFE;
    border-radius: 50%;
    box-shadow: 1px 1px 4px #4FACFE;
}
.cover_serve_img{
    width: 27px;
    height: 27px;
    margin-top: 10px;
    margin-left: 24px;
}
.cover_serve_txt{
    height: 17px;
    width: 60px;
    text-align: center;
    font-size: 14px;
    color: white;
    margin-left: 10px;
}
a{
    text-decoration: none;
}