.createHeaderBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5vh;
    width: 100%;
    background-color:#f8f9fb;
    z-index: 2;
}
.createHeaderBox div{
    width: 140px;
}
.create_logo{
    position: absolute;
    width: 40px;
    left: 100px;
}
.createHeaderNavItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}
.createHeaderNavItem img{
    width: 24px;
    margin-bottom: 3px;
}
.userData{
    position: absolute;
    right: 0px;
    display: flex;
    /* flex-direction: row; */
    justify-content:center;
}
.userData img{
    width: 35px;
    height: 35px;
    border-radius: 20px;
}
.userData .help{
    width:40px;
    position: relative;
}
.userData .help img{
    width:37px;
}
.help:hover .createHeaderHelpBox{
    display: flex;
}
.createHeaderHelpBox>span{
    display: block;
    width:220px;
    margin-top: 20px;
    font-size: 14px;
}
.createHeaderHelpBox{
    display: none;
    position: absolute;
    width:260px;
    height: 500px;
    background-color: rgba(0,0,0,0.8);
    right:20px;
    top:20px;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius:15px;
}
.helpbox_toNew{
    color: white;
}
.helpobox_key>p{
    padding-left: 20px;
}