* {
    padding: 0;
    margin: 0;
}

.home_header {
    height: 45px;
    padding-left: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #fff;
    width:100%;
    position: fixed;
    z-index: 999;
    top: 0;
}

.home_logo {
    width: 30px;
    height: 30px;
    margin-top: 11px;
    margin-right: 10px;
}

.home_nav_logo {
    display: inline-block;
    width: 100px;
    height: 45px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(2, 43, 99);
    margin-top: 9px;
}

/* 导航栏每一�?*/
.home_nav_item {
    width: 90px;
    height: 40px;
    margin-left: 16px;
    position: relative;
}
.home_nav_item :hover{
    /* font-size: 16px; */
    color: rgb(2, 43, 99);
    transition: all 1s;
    
}

.home_nav_item span {
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #444;
    position: absolute;
    top: 7px;
}

/* 导航栏每一项的活跃状�?*/

.home_head_active {
    width: 90px;
    height: 40px;
    margin-left: 16px;
    position: relative;
}

.home_head_active span {
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: rgb(2, 43, 99);
    transform: scale(1.1);
    position: absolute;
    top: 7px;
}

/* 头像 */
#home_header_user_head_portrait {
    width: 36px;
    height: 36px;
    border-radius: 30px;
    margin-top: 5px;
}

#home_header_user_portrait_hover {
    width: 150px;
    height: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.5);
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 40px;
    left: 1250px;
    z-index: 5;
    display: none;
    flex-direction: column;
}

#home_header_user_portrait_hover p {
    text-decoration: none;
    width: 150px;
    height: 20px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    /* margin-left: 45px; */
    margin-top: 15px;
    font-weight: bold;
}

.home_header_user_portrait_hover_span {
    text-decoration: none;
    font-size: 13px;
    width: 100px;
    height: auto;
    margin-left: 50px;
    margin-top: 10px;
}

.home_header_user_portrait_hover_span span {
    color: rgb(2, 43, 99);
}

.home_header_user_portrait_hover_span:hover {
    
    font-weight: 600;
    
}

.home_header_user_portrait_hover_exit {
    text-decoration: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(93, 166, 255);
    text-align: center;
    line-height: 30px;
    margin-left: 38px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.home_header_user_portrait_hover_exit span {
    font-weight: 600;
    color: #fff;
}

.home_header_user_portrait_hover_exit:hover {
  
    font-weight: 600;
    background-color: rgb(27, 125, 248);

}

/* 开始设计 */
.home_header_start span {
    width: 95px;
    height: 32px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
    line-height: 32px;
    background-color: rgb(27, 125, 248);
    box-shadow: 2px 2px 2px rgb(169, 198, 255);
    margin-left: 20px;
}

.home_header_start:hover span {
    width: 95px;
    height: 32px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
    line-height: 32px;
    background-color: rgba(27, 125, 248,0.8);
    box-shadow: 2px 2px 2px rgb(169, 198, 255);
    margin-left: 20px;
}

/* .home_header_start {
    width: auto;
    height: auto;
    margin-left: 20px;
}

.home_header_start img {
    width: 30px;
    height: 30px;
} */