.home_content {
    height: auto;
}

.home_top {
    width: auto;
    height: 600px;
    background-color: #ccc;
    position: relative;
}

.home_top_bg {
    width: 100%;
    height: 600px;
    z-index: -2;
}

.fp,
.sp {
    color: #fff;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 8%;
}

.fp {
    top: 10%;
}

.sp {
    top: 30%;
}

.home_characters {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 10%;
}

.home_character {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

.home_icon {
    width: 25px;
    height: 23px;
    color: #fff;
    line-height: 50px;
}

.home_top_text {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    margin-left: 5px;
}

@keyframes btntspt {
    0% {
        box-shadow: 0px 0px 5px rgb(255, 255, 255),
            0px 0px 10px rgb(170, 202, 250),
            0px 0px 2px rgb(86, 145, 255),
            0px 0px 40px rgb(8, 68, 246);
    }

    50% {
        box-shadow: 0px 0px 7px rgb(255, 255, 255),
            0px 0px 14px rgb(208, 223, 246),
            0px 0px 28px rgb(186, 210, 255),
            0px 0px 56px rgb(150, 176, 255);

    }

    100% {
        box-shadow: 0px 0px 5px rgb(255, 255, 255),
            0px 0px 10px rgb(170, 202, 250),
            0px 0px 2px rgb(86, 145, 255),
            0px 0px 40px rgb(8, 68, 246);
    }
}

.home_start {
    width: 240px;
    height: 70px;
    border: none;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px #fff;
    animation: btntspt 2s 0s infinite;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 15%;
}
.home_start span{
    width: 240px;
    height: 70px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(2, 43, 99);
    position: absolute;
    left: 40px;
    top: 6px;
}

.home_start:hover {
    animation: btnsamt 0.5s;
    animation-fill-mode: forwards;
}

@keyframes btnsamt {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/* 四个按钮 */
.home_btns {
    width: 1200px;
    height: 90px;
    margin-left: 12%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 600px;
}

.home_btns button {
    width: 250px;
    height: 90px;
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
    position: relative;
}

.home_btns img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 18px;
}

.home_btns span {
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    color: rgb(2, 43, 99);
    position: absolute;
    top: 8%;
    right: 16%;
}

.home_btns button:hover {
    transform: scale(1.1);
    transition: all 0.7s;
    box-shadow: 2px 2px 10px #777;
}

/* 家装TIPS */
.home_tips {
    width: 100%;
    height: 420px;
    font-weight: bold;
    margin-top: 6%;
    position: relative;
    /* top:px; */
}

.home_tips_title {
    color: rgb(2, 43, 99);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 6px;
    position: absolute;
    left: 14%;
}

.home_tips_content {
    width: 1000px;
    height: 350px;
    margin-top: 20px;
    /* padding: 5px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 10%;
    left: 18%;
}

.home_tip {
    width: 300px;
    height: 150px;
    background-color: rgb(247, 248, 250);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    position: relative;
}

.home_tip>span,
.home_tip a {
    display: block;
}

.home_tip_title {
    color: rgb(2, 43, 99);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-top: 5%;
    margin-left: 40%;
}

.home_tip_text {
    font-size: 15px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.home_tip a {
    text-decoration: none;
    color: rgb(2, 43, 99);
    text-shadow: 1px 1px 1px rgb(2, 43, 99);
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.home_tip_hover {
    width: 320px;
    height: 340px;
    width: 0px;
    height: 0px;
    z-index: 1;
    display: none;
}


.home_tip_hover img {
    width: 320px;
    height: 340px;
    position: absolute;
    top: 0px;
    object-fit: cover;
}

.home_tip_hover .home_tip_con {
    width: 300px;
    height: 80px;
    padding: 10px;
    background-color: rgba(1, 1, 1, 0.4);
    position: absolute;
    bottom: -340px;
    z-index: 5;
}

.home_tip_con span {
    color: #fff;
    font-weight: 500;
    font-size: px;
}

.home_tip_hover a {
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

@keyframes imgAmtr {
    0% {
        opacity: 0;
        right: -340px;
    }

    100% {
        opacity: 1;
        right: 0px;
    }
}

@keyframes conr {
    0% {
        opacity: 0;
        right: -340px;
    }

    100% {
        opacity: 1;
        right: 0px;
    }
}

.home_tip:nth-child(2):hover .home_tip_hover,
.home_tip:nth-child(3):hover .home_tip_hover,
.home_tip:nth-child(6):hover .home_tip_hover {
    display: block;
    animation: imgAmtr 0.7s 0s;
}

.home_tip:nth-child(2):hover .home_tip_con,
.home_tip:nth-child(3):hover .home_tip_con,
.home_tip:nth-child(6):hover .home_tip_con {
    animation: conr 0.7s 0s;
}

.home_tip:nth-child(2) .home_tip_hover img,
.home_tip:nth-child(3) .home_tip_hover img,
.home_tip:nth-child(6) .home_tip_hover img {
    display: block;
    animation: imgAmtr 0.7s 0s;
}


@keyframes imgAmtl {
    0% {
        opacity: 0;
        left: -100px;
    }

    100% {
        opacity: 1;
        left: 0px;
    }
}

@keyframes conl {
    0% {
        opacity: 0;
        left: -100px;
    }

    100% {
        opacity: 1;
        left: 0px;
    }
}

.home_tip:nth-child(1):hover .home_tip_hover,
.home_tip:nth-child(4):hover .home_tip_hover,
.home_tip:nth-child(5):hover .home_tip_hover {
    display: block;
    animation: imgAmtl 0.7s 0s;
}

.home_tip:nth-child(1):hover .home_tip_con,
.home_tip:nth-child(4):hover .home_tip_con,
.home_tip:nth-child(5):hover .home_tip_con {
    animation: conl 0.7s 0s;
}

.home_tip:nth-child(1) .home_tip_hover img,
.home_tip:nth-child(4) .home_tip_hover img,
.home_tip:nth-child(5) .home_tip_hover img {
    display: block;
    animation: imgAmtl 0.7s 0s;
}


.home_tip:nth-child(1) .home_tip_hover,
.home_tip:nth-child(2) .home_tip_hover,
.home_tip:nth-child(3) .home_tip_hover {
    position: absolute;
    top: 0;
}

.home_tip:nth-child(4) .home_tip_hover,
.home_tip:nth-child(5) .home_tip_hover,
.home_tip:nth-child(6) .home_tip_hover {
    position: absolute;
    top: -170px;
}

/* 分割线 */

.home_hr {
    height: 5px;
    width: 1200px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(2, 43, 99);
    box-shadow: 10px 5px 3px rgb(186, 193, 201);
    position: absolute;
    top: 1200px;
    left: 10%;
}

.home_chaters {
    width: 1000px;
    height: 280px;
    margin-top: 10%;
    position: relative;
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.home_chater {
    width: 210px;
    height: 280px;
    background-color: rgba(255, 255, 255);
    box-shadow: 1px 1px 2px #ccc;
}

.home_chater_img {
    width: 100px;
    height: 100px;
    margin-left: 45px;
    transition: all 0.5s;
}

.home_chater_img:hover {
    transform: scale(0.5);
}

.home_chater_title {
    width: 200px;
    height: 35px;
    color: rgb(2, 43, 99);
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
}

.home_chater_text {
    padding: 10px;
    color: #555;
    display: block;
    text-align: center;
}

/* joinus */
#joinus_mask {
    width: 100%;
    height: 100%;
    background-color: rgba(2, 43, 99, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
}

#joinus_con {
    width: 600px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(115, 115, 115);
    position: absolute;
    top: 18%;
    left: 30%;
}

.joinus_titlebar {
    width: 100%;
    height: 25px;
}

.joinus_close {
    position: absolute;
    right: 20px;
    font-size: 30px;
    color: #ccc;
}

.joinus_close:hover {
    transform: scale(1.2);
    color: #e00;
}

.joinus_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.joinus_con_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
}

.joinus_con_text span:nth-child(1) {
    color: rgba(2, 43, 99);
    font-size: 26px;
    margin-left: 50px;
    margin-bottom: 40px;
}

.joinus_con_text span:nth-child(2) {
    font-size: 15px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.joinus_con_text span:nth-child(3) {
    font-size: 16px;
    margin-left: 130px;
    margin-bottom: 30px;
}

.joinus_con_text span:nth-child(4) {
    font-size: 16px;
    margin-left: 130px;
    margin-bottom: 30px;
}

.joinus_con_text span:nth-child(5) {
    color: orange;
    font-size: 13px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.home_con_icon {
    width: 240px;
    height: 240px;
    margin-left: 380px;
    margin-top: 100px;
}

.home_con_icon img {
    width: 120px;
    height: 120px;
}