.realRec_all{
    background-color: rgb(237, 243, 252);
    height: 100%;
}
.realRec_box{
    width: 100%;
    height: 100%;
    overflow: auto;
}
@keyframes three-D0 {
    /* 停留2秒 */
    0%,27%{
      transform: translateX(-450.3px) scale(0.8);
      z-index: 1;
    }
    /* 过渡时间为 0.5s */
    34%,61%{
      transform: translateX(450.7px) scale(0.8);
      z-index: 1;
    }
    /* 过渡时间为 0.5s */
    68% ,95%{
      transform: translateX(-10.9px) scale(1);
      z-index: 2;
    }
    /* 过渡时间为 0.5s */
    100% {
      transform: translateX(-450.3px) scale(0.8);
      z-index: 1;
    }
  }
  @keyframes three-D1 {
    /* 停留2秒 */
    0%,27%{
      transform: translateX(900.3px) scale(0.8);
      z-index: 1;
    }
    /* 过渡时间为 0.5s */
    34%,61%{
      transform: translateX(450.7px) scale(1);
      z-index: 2;
    }
    /* 过渡时间为 0.5s */
    68% ,95%{
      transform: translateX(-10.9px) scale(0.8);
      z-index: 1;
    }
    /* 过渡时间为 0.5s */
    100% {
      transform: translateX(900.3px) scale(0.8);
      z-index: 1;
    }
  }
  @keyframes three-D2 {
    /* 停留2秒 */
    0%,27%{
      transform: translateX(-450.3px) scale(1);
      z-index: 2;
    }
    /* 过渡时间为 0.5s */
    34%,61%{
      transform: translateX(-900.7px) scale(0.8);
      z-index: 1;
    }
    /* 过渡时间为 0.5s */
    68% ,95%{
      transform: translateX(-10.9px) scale(0.8);
      z-index: 1;
    }
    /* 过渡时间为 0.5s */
    100% {
      transform: translateX(-450.3px) scale(1);
      z-index: 1;
    }
  }
  
#realRec_three_item0{
    width: 520px;
    height: 350px;
    position: absolute;
    left: 500px;
    top:30px;
    box-shadow: 1px 1px 5px slategray;  
    animation: three-D0 7.5s ease -5s infinite;  
}
#realRec_three_item1{
    width: 520px;
    height: 350px;
    position: absolute;
    left: 50px;
    top:30px;
    animation: three-D1 7.5s ease -5s infinite;
}
#realRec_three_item2{
    width: 520px;
    height: 350px;
    position: absolute;
    right: 50px;
    top:30px;
    animation: three-D2 7.5s ease -5s infinite;
    /* animation: three-D0 5s infinite;  */
}

.realRec_three{
    width: 100%;
    height: 420px;
    position: relative;
    margin-top: 10px;
}
.realRec_three_img{
    width: 520px;
    height: 350px;
    /* overflow: hidden; */
}
.realRec_three_img_box0{
    width: 520px;
    height: 350px;
    overflow: hidden;
}
.realRec_three_img_box1{
    width: 520px;
    height: 350px;
    overflow: hidden;
}
.realRec_three_img_box2{
    width: 520px;
    height: 350px;
    overflow: hidden;
}
.realRec_three_img0{
    width: 520px;
    height: 350px;
}

.realRec_three_praise{
    width: 70px;
    height: 35px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 45px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#realRec_three_praise0{
    position: absolute;
    top: 305px;
    left: 84%;
}
.realRec_three_praise_img{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}
.realRec_three_num{
    font-size: 20px;
    color:#448CEF;
    font-weight: 600;
    line-height: 35px;
    margin-left: 5px;
    float: left;
}
.realRec_three_name{
    font-size: 16px;
    font-weight: 600;
    background-color:rgb(255, 255, 255,0.6) ;
    color:rgb(2,43,99);
    border-radius: 0 30px 30px 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top:0;
}


.high_txt_item{
    font-size: 45px;
    font-weight: 600;
    color: rgb(2, 2, 2);
    /* margin-left: 200px; */
    margin-top: 50px;
    margin-left: 270px;
    position: absolute;
    
}

.high_content{
    width: 1320px;
    height: 100%;
    clear: both;
    margin: 0 auto;
    margin-top: 50px;
    clear: both;
    /* background-color:rgb(237, 243, 252); */
    /* height: 500px; */
}
.high_content_item{
    width: 400px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-right: 10px;
    float:left;
    position: relative;
    overflow: hidden;
    display: inline;
}
.high_content_item:hover .high_content_item_img{
    transform: scale(1.2,1.2);
}
.high_content_item_imgbox{
    width: 400px;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.high_content_item_img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    transition: all 0.6s;
    /* float: left; */
}
.high_content_item_headimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.high_content_item_box{
    
    /* float: left; */
    padding-left: 20px;
}
.high_content_item_txt1{
    font-size: 22px;
    font-weight: 600;
    color: rgb(2,43,99);
    width: 65%;
    height: 40px;
    padding-left: 30px;
    line-height: 40px;
    border-radius: 40px 0 0 0;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    bottom: 60px;
    left: 140px;
}
.high_content_item_praise{
    width: 40px;
    height: 40px;
    float: left;
}

.high_content_item_txt2 span{
    /* float: left; */
    line-height: 40px;
    margin-left: 10px;
    font-weight: 600;
    color: rgb(2,43,99);
    font-size: 18px;
}
.high_content_item_txt3{
    margin-top: 10px;
    color: rgb(97, 96, 96);
}
.high_content_item_txt{
    /* margin-top: 55px; */
    font-size: 15px;
    /* margin-left: 120px; */
    /* float: left; */
    position: absolute;
    bottom: 30px;
    right: 90px;
}
.high_content_item_txt2{
    margin-top: 10px;
    margin-left: 300px;
    margin-bottom: 10px;
}
.high_more{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.high_more_img{
    width: 160px;
    height: 160px;
    float: left;
}
.high_more_txt{
    font-size: 26px;
    /* font-weight: 600; */
    color: rgb(87, 88, 88);
}