/* 进度条组件 */

.create_wall_height {
  width: auto;
  height: 35px;
  padding-left: 5px;
  position: relative;
}

.create_wall_height_span {
  width: 70px;
  font-size: 13px;
  display: inline-block;
  text-align: center;
}

.create_wall_height input {
  width: 50px;
  height: 20px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create_wall_height_per {
  display: inline-block;
  width: 30px;
  text-align: center;
}

#create_wall_height_p {
  position: absolute;
  bottom: 0px;
  font-size: 1px;
  color: #888;
  padding-left: 30px;
}

.create_processbar {
  width: 300px;
  height: 35px;
  padding-left: 5px;
  /* border: 1px solid #ccc; */
  display: flex;
  justify-items: center;
  position: relative;
  margin-top: 6px;
}

.create_processbar span {
  width: 70px;
  font-size: 13px;
  text-align: center;
}

.create_processbar input {
  width: 35px;
  height: 20px;
  margin-top: 3px;
  margin-left: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create_processbar p {
  position: absolute;
  bottom: 0px;
  font-size: 1px;
  color: #888;
  padding-left: 90px;
}


#create_sizebar_con {
  width: 160px;
  height: 10px;
  border-radius: 5px;
  position: relative;
}

#create_sizebar_bg {
  width: 160px;
  height: 5px;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-top: 8px;
  margin-left: 5px;
  position: absolute;
}

#create_sizebar_dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 3px solid rgb(68, 140, 239);
  background-color: rgb(68, 140, 239);
  position: absolute;
  top: -2px;
}

/* scale */
#create_scalebar_con {
  width: 160px;
  height: 28px;
  border-radius: 5px;
  position: relative;
}

#create_scalebar_bg {
  width: 160px;
  height: 5px;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-top: 8px;
  margin-left: 5px;
  position: absolute;
}

#create_scalebar_dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 3px solid rgb(68, 140, 239);
  background-color: rgb(68, 140, 239);
  position: absolute;
  top: -2px;
}

/* height */
#create_heightbar_con {
  width: 160px;
  height: 28px;
  border-radius: 5px;
  position: relative;
}

#create_heightbar_bg {
  width: 160px;
  height: 5px;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-top: 8px;
  margin-left: 5px;
  position: absolute;
}

#create_heightbar_dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 3px solid rgb(68, 140, 239);
  background-color: rgb(68, 140, 239);
  position: absolute;
  top: -2px;
}
.furn_intro{
  margin-top: 10px;
  padding-left: 10px;
  height: 110px;
}
.furn_name{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
}
#furnName{
  width: 60px;
  height: 23px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-left: 8px;
  text-align: center;
  line-height: 23px;
  border-radius: 5px;
  background-color: white;


}
#furn_img{
  width:70px;
  height: 70px;
  margin-right: 20px;
}
.house_intro{
  padding-left: 10px;
  margin-bottom: 10px;
}